html,body{
    width: 100%;
    margin-left: 10px;
    padding: 0px;
}

header {
    color: white;
    background-color: mediumslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
}

h1 {
    padding: 5px;
    padding-right: 35px;
    text-align: center;
}

img {
    width: 250px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

table {
    width: 250px;
    border: solid 3px red;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

thead {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid red;
}

.numero, .numero:hover  {
    background-color: hotpink;
    width: 15%;
}

thead tr:hover, th:hover{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0;
    color: black;
}

.titulo {
    width: 60%;
    border:3px solid red;
}

td {
    padding-left: 5px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid red;
}

tr:hover{
    background-color: yellow;
    font-weight: bold;
    color: red;
    text-shadow: black 0 2px;
}