* {
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}

#verificado {
    width: 15px;
    height: 15px;
}

header span {
    flex-grow: 1;
    margin-top: 10px;
}

h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

header {
    background-image: url(../img/varry-brava-3-3200x1680-c.jpg);
    color: white;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    height:300px;
    display: flex;
    flex-direction: column;
}

main {
    background: linear-gradient(rgb(227, 148, 161), 2%,black);
}

#reproduccion {
    padding-top:20px ;
    display: flex;
    align-items: center;
}

#botonreproducir {
    margin-right: 25px;
    margin-left: 20px;
    height: 50px; 
    width: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
}

 #botonreproducir:hover {
    height: 52px;
    width: 52px;
    margin-right: 23px;
    margin-bottom: 18px;
 }

#reproduccion button {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    border: solid 2px rgba(255, 255, 255, 0.639);
    padding: 8px 17px;
    margin-right: 25px;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

#reproduccion button:hover {
    cursor: pointer;
    border: solid white 2px;
}

#puntos3 {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.639);
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 35px;
}

#puntos3:hover {
    color: white;
}


.subtitulo {
    font-size: x-large;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 35px;
}
.cancion {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    width: 1050px;
    padding-top:14px;
    padding-bottom: 14px;
    border-radius: 10px;
    justify-content: left;
    font-size: large;
}

.cancion:hover {
    background-color: rgba(255, 255, 255, 0.374);
}

.numero{
    padding-top: 6px;
    color: rgba(255, 255, 255, 0.639);
    width: 10px;
    margin-left: 15px;
}

.portadacancion {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    margin-left: 30px;
}

.titulo{
    color: white;
    text-decoration: none;
    padding-top: 6px;
    width: 180px;
    margin-left: 20px;
}

.visitas{
    padding-top: 8.5px;
    color: rgba(255, 255, 255, 0.639);
    width: 90px;
    margin-left: 350px;
    align-items: left;
}

.duracion{
    padding-top: 8.5px;
    color: rgba(255, 255, 255, 0.639);
    width: 35px;
    margin-left: 200px;
}

#vermas{
    color: rgba(255, 255, 255, 0.639);
    text-decoration: none;
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: large;
}

#vermas:hover {
    color:white;
}

.titulo:hover{
    text-decoration: underline;
}

#cancionseleccion {
    width: 350px;
    height: 300px;
    background: linear-gradient(to top, black, 50% , transparent), url(../img/Canción4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    margin-top: 15px;
}

#lyricseleccion {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    background-color: white;
    color: black;
    border-radius: 15px;
    height: 25px;
    width: 265px;
    font-size: 14px;
    padding-top: 5px;
}

#lyricseleccion div img {
    width: 20px;
    height: 20px;
    border-radius:12px;
    margin-left: 10px;
    margin-right: 6px;
}

#linkseleccion {
    display: inline-block;
    margin-top: 150px;
    margin-left: 10px;
}

#linkseleccion div img {
    width: 80px;
    height: 80px;
}

#linkseleccion div div {
    height: fit-content;
    margin-left: 10px;
    margin-top: 20px;
}

.descripcioncancion {
    color:rgba(255, 255, 255, 0.669);
    font-size: small;
    padding-top: 5px;
}

#titulospopulares {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.titulopopular {
    background-color: rgba(73, 73, 73, 0.374);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 310px;
}

.titulopopular:hover {
    background-color: rgba(255, 255, 255, 0.189);
}

.titulopopular img {
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 15px;
}

.titulopopular p {
    margin-left: 15px;
    font-size: medium;
}

#informacion {
    background: linear-gradient(to top, black, 50% , transparent), url(../img/Hortera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
    width: 1200px;
    height: 450px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 20px;
}

#textoinformacion {
    display: inline-block;
    margin-left: 30px;
    margin-top: 350px;
}

#listasenlaces{
    display: flex;
    margin-top: 200px;
}

#listasenlaces div {
    margin: 35px;
}

#listasenlaces div li {
    list-style: none;
}

.linklista {
    text-decoration: none;
    color: rgba(176, 176, 176, 0.676);    
}

.linklista:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.756);
}

#redessociales {
    display: flex;
}

#redessociales a {
    background-color: rgba(255, 255, 255, 0.189);
}

#redessociales a:hover {
    background-color: rgba(255, 255, 255, 0.374);
}